@model Logintp.ViewModel.Register
@{
    ViewBag.Title = "Register";
    Layout = "../Shared/_Layout.cshtml";
    }
 
<h2>Register</h2>
 
<div style="color:Black;">@Html.ValidationSummary(true)</div>
<div>
@using(Html.BeginForm("SaveRegisterDetails","Register"))
{
@Html.EditorForModel("Register")
<input type="submit" value="Submit" />
}
 
</div>
@Html.ActionLink("Login","Login")
<script type="text/javascript">
    $(function () {
        $('#BIRTHDAY').datepicker({
            onSelect: function (date, value) {
                debugger;
                $('#BIRTHDAY').val(date);
            },
            dateFormat: 'dd/mm/yy'
        });
    });
</script>